* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
}


/*main*/

main {
    background-image: url("img/joysticks-gf9abf4243_1920.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
    width: 100%;

}

main::before {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/*nav*/

nav {
    background-color: rgba(0,0,0, 0.4);
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
}
.navbar-brand i,
.navbar-brand span {
    color: #27ec12;
}


nav .navbar-nav,
nav .fa-bars {
    font-size: 2rem;
    text-transform: uppercase;
}

nav .fa-bars {
    padding: 1rem 2rem;
}

.nav-link:hover {
    color: rgb(255,255,255);

}

/*header*/

header {
    position: absolute;
    text-align: center;
    height: 60rem;
    width: 100%;
}

.header-title {
    font-size: 6.5rem;
    font-weight: 700;
    text-shadow: 0 3px 6px rgba(255,255,255, 0.25);

}

.header-text {
    font-size: 2rem;
}

/*buttons*/

.btn {
    font-size: 2rem;
    margin: 0 2rem;
    padding: 1rem 1.25rem;
}







